* {
  margin: 0;
  padding: 0;
}

body {
  background: #e9ecf4;
  color: #000;
  font-family: "Roboto", sans-serif;
}

.contenedor {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);

  grid-template-areas:
    "header header header"
    "contenido contenido sidebar"
    "widget-1 widget-2 sidebar"
    "footer footer footer";
}

.contenedor > div,
.contenedor .header,
.contenedor .contenido,
.contenedor .sidebar,
.contenedor .footer {
  background: #fff;
  padding: 20px;
  border-radius: 4px;
}

.contenedor .header {
  background: #12203e;
  color: #fff;
  grid-area: header;
  font-size: xx-large;
  text-align: center;
}

.contenedor h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  margin: 20px;
}

.contenedor .primero {
  text-align: start;
}

.contenedor .segundo {
  text-align: center;
}
.contenedor .tercero {
  text-align: end;
}
.contenedor .contenido {
  grid-area: contenido;
}

.columna {
  width: 250px;
  height: 250px;
}
.sidebar {
  display: flex;
  flex-wrap: wrap;
}

.contenedor .sidebar {
  grid-column: 3 / 4;
  background: #faa43d;
  background-image: url();
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100px;
  grid-area: sidebar;
}

img {
  width: 100px;
  height: 100px;
}

.contenedor .widget-1,
.contenedor .widget-2 {
  display: flex;
  flex-wrap: wrap;
  color: #fff;
  height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor .widget-1 {
  grid-area: widget-1;
}

.contenedor .widget-2 {
  grid-area: widget-2;
}

footer {
  display: flexbox;
}

.centrar {
  margin: auto;
  text-align: center;
}

.contenedor .footer {
  background: #12203e;
  color: #fff;
  grid-area: footer;
}

@media screen and (max-width: 360px) {
  .contenedor {
    grid-template-areas:
      "header header header"
      "contenido contenido sidebar"
      "widget-1 widget-2 sidebar"
      "footer footer footer";
  }

  img {
    width: 50px;
    height: 50px;
  }
  .columna {
    width: 100px;
    height: 100px;
  }

  h1 {
    font-size: medium;
  }
  p {
    font-size: small;
  }
}

@media screen and (max-width: 160px) {
  .contenedor {
    grid-template-areas:
      "header header header"
      "contenido contenido sidebar"
      "widget-1 widget-2 sidebar"
      "footer footer footer";
  }

  img {
    width: 30px;
    height: 30px;
  }

  .columna {
    width: 50px;
    height: 50px;
  }

  .centrar {
    display: flex;
    font-size: xx-small;
  }

  h1 {
    font-size: small;
  }

  p {
    font-size: xx-small;
  }
}
